*.d
*.a
*.o
*.so
*.old
*.log
/vme/f1tdc
/vme/clas12-coda
/vme/fa125
/vme/jvme
/dscTDCutilities/ratevsthreshold_allchan
/dscTDCutilities/vmeDSCGetThresholds
/dscTDCutilities/vmeDSCPrintScalerRates
/dscTDCutilities/vmeDSCPrintShmemRates
/dscTDCutilities/vmeDSCPrintThresholds
/dscTDCutilities/vmeDSCReadoutTest
/dscTDCutilities/vmeDSCSetThresholds
/fADCutilities/faCheckPedestals
/fADCutilities/faDoThresholdScan
/fADCutilities/faMapRates
/fADCutilities/faPrintDAC
/fADCutilities/faPrintScalerRate1
/fADCutilities/faPrintScalerRates
/fADCutilities/faPrintScalers
/fADCutilities/faPrintStatus
/fADCutilities/faPrintThresholds
/fADCutilities/faSet1Threshold
/fADCutilities/faSetDAC
/fADCutilities/faSetThresholds
/fADCutilities/faTweakPedestals
/fADCutilities/faCalibPedestals
/fADCutilities/faScope
/fADCutilities/faScope.root
